<style>
    table.lecture-notes td {
        padding-left: 10px;
        padding-right: 10px;
    }

    table.lecture-notes tr {
        border: solid;
        border-width: 1px 0;
    }
</style>

<table class="lecture-notes">
    {% for chapter in page.chapters %}
    {% assign ch_num = chapter | split: "." | first %}
    <tr>
        <td>
            {{chapter}}
        </td>
        <td>
            <a href="{{site.baseurl}}/assets/notes/mth428_notes_{{ch_num}}.pdf">complete notes</a>
        </td>
        <td>
            <a href="{{site.baseurl}}/assets/blanks/mth428_blanks_{{ch_num}}.pdf">blank notes</a>
        </td>
    </tr>
    {% endfor %}
</table>